.main-container{
    padding: 20px;
    background-color: #fff;
    border: 2px solid red;
}
footer{

    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}